discord.py
aiohttp
praw
asyncpg
colour
pytz
#urbandict
Pillow
#googletrans
jishaku
#numpy
python-dotenv
#git+https://github.com/Gelbpunkt/aiowiki #wikipedia
git+https://github.com/Rapptz/discord-ext-menus #menus
